body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.myBox {
    height: 250px;
    width: 250px;
    font-size: 10rem;
    background-color: aquamarine;
    text-align: center;
    position: relative;
    cursor: pointer;
    user-select: none;
}